*{
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}
body{
  align-items: center;
}
#title{
  background-color: black;
  padding: 0 60px;
}
.big-heading{
  font-size: 2rem;
  font-family: 'Montserrat-Black 900', sans-serif;
  line-height: 1.5;
  font-weight: 1500;
}
p{
  font-weight: 400;
  line-height: 1.5;
}
h3{
  font-size: 20px;
}
.logo{
  color: #2ecc71;
}
.logo-picture{
  width: 3%;
}
.text{
  padding-top: 4%;
}
.navbar{
  margin-bottom: 50px;
}
.nav-list{
  padding: 0 30;

}
.icons{
  text-align: left;
}
li{
  margin: 20px 10px;
}
.title-image{
  width: 100%;

}
.title-button{
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.social-media{
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
  border-radius: 50%;
  font-size: 20px;
}
.social-icon:hover{
  transform: scale(2.0);
  background: #2ecc71;
  transition: 0.2s;
}
span{
  color: #2ecc71;
  font-family: 'Montserrat-Black 900', sans-serif;
  font-weight: bolder;
}
.Address{
  margin-top: 30px;
}
.Ad-words{
  line-height: 1;
}
.house{
  font-size: 45px;
  margin-bottom: 15px;
  text-align: auto;
  display: block;
  width: 100%;
}
.house:hover{
  color: #2ecc71;
}
.social-mediatext{
  font-size: 15px;
  color: grey;
}
form{
  width: 50%;
  border: solid #2ecc71;
  padding: 20 40px;
  border-radius: 2%;
}
.container{
  padding: 30px;
}
#form-iconw{
  color: aquamarine;
  font-size: 30px;
  margin-top: 10px;
}
#g-mail{
  padding: 15px 60px;
}
.fa-whatsapp{
  margin-left: 0px;
}
.copyright{
  margin-top: 10px;
  color: grey;
  font-size: 11px;
  padding-left: 12px;
}
@media (max-width: 992px){
  .house{
    font-size: 32px;
  }
  h3{
    font-size: 15px;
  }
  .Ad-words{
    font-size: 10px;
  }
  .copyright{
    padding-left: 12px;
  }
  .title-image{
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1115px){
  h3{
    font-size: 13px;
  }
  .house{
    font-size: 34px;
  }
  .title-image{
    height: 100%;
  }
  .Ad-words{
    font-size: 10px;
  }
}